body {
    position: absolute;
    width: 670px;
    height: 1120px;
    margin: 0 auto !important;
    background-color: transparent;
    /* background-color: #808080; */
    color: white;
    font-family: 'Inconsolata', monospace !important;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: white;
}

::placeholder {
    color: white;
    animation: blink 1.25s steps(5, start) infinite;
}

input {
    width: 100%;
    background-color: transparent !important;
    border: none;
    outline: none;
    color: white;
    font-family: 'Inconsolata', monospace !important;
    font-weight: 300;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: 'Inconsolata', monospace !important;
    font-weight: 300;
}

h1 {
    font-size: 25px;
    font-weight: 300 !important;
    text-align: center;
}

hr {
    width: 60%;
    border-top: none;
    border-left: none;
    border-right: none;
}

#separator {
    position: relative;
    text-align: center;
}

#terminal {
    position: absolute;
    width: 650px;
    height: 1100px;
    margin-top: 35px;
    margin-left: 25px;
    border: 1px solid #3A3A3A;
    background-color: #0C0C0C;
    z-index: 2;
}

#header {
    padding: 20px;
    font-size: 13px;
    font-style: italic;
    text-align: justify !important;
}

#player {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#player_name {
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
}

#player_edit {
    text-align: center;
    font-size: 14px;
}

#player_panel {
    position: absolute;
    width: 375px;
    height: 500px;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #3A3A3A;
    background-color: #0C0C0C;
    z-index: 4;
    display: none;
}

#player_stats {
    text-align: center;
    letter-spacing: -1px;
    font-size: 12px;
}

#new_game, #load_game, #continue {
    position: relative;
    top: 100px;
    width: 100%;
    padding-bottom: 35px;
    text-align: center;
    font-size: 25px;
    z-index: 2;
}

#continue {
    top: 0px;
    margin-top: 25px;
    font-size: 15px;
}

#continue_game {
    display: none;
}

#new_game_label, #continue {
    animation: blink 1.25s steps(5, start) infinite;
}

#games_list {
    position: relative;
    width: 350px;
    height: 400px;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #3A3A3A;
    background-color: #0C0C0C;
    z-index: 4;
    display: none;
}

.game_slots {
    position: relative;
    width: 100%;
    top: 20%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 18px;
}

.edit {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 18px;
}

#settings {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    font-size: 25px;
    z-index: 5;
    visibility: hidden;
}

#settings_label {
    z-index: 5;
}

#settings_panel {
    position: absolute;
    width: 325px;
    height: 500px;
    top: 0px;
    right: 0px;
    border: 1px solid #3A3A3A;
    background-color: #0C0C0C;
    z-index: 4;
    display: none;
}

#settings_title {
    position: relative;
    top: 13px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 7px;
}

#start {
    position: relative;
    top: 25px;
    left: 25px;
    width: 0;
    font-size: 13px;
    visibility: hidden;
    z-index: 2;
}

#start_input {
    position: relative;
    width: auto;
    left: 5px;
}

.game_content {
    position: absolute;
    padding: 25px;
    font-size: 13px;
    text-align: justify;
    visibility: hidden;
}

#choices_1 {
    display: none;
}

#copyrights {
    position: absolute;
    width: 100%;
    bottom: 5px;
    text-align: center;
    font-size: 10px;
}